[submodule "digitowl.io/themes/terminal"]
	path = digitowl.io/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "digitowl.io/themes/binario"]
	path = digitowl.io/themes/binario
	url = https://github.com/vimux/binario
