[build]
  command = "hugo"
  publish = "public"
  functions = "netlify/functions"

[build.environment]
  HUGO_VERSION = "0.139.0"
  NODE_VERSION = "18"

[functions]
  external_node_modules = ["openai"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false