{{"<!-- Start Careers Section -->" | safeHTML}}
<section id="careers" class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="title text-center wow fadeInDown">
                    <h2>Careers</h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="career-message mt-4 wow fadeInUp">
                    <p class="lead" style="font-size: 28px; margin-bottom: 30px;">Don't worry, if you have what it takes, our team will find you.</p>
                    <img src="images/careers/liam.jpg" alt="Liam" class="img-fluid rounded" style="max-width: 400px; margin: 20px 0;">
                </div>
            </div>
        </div>
    </div>
</section>
{{"<!-- End Careers Section -->" | safeHTML}} 