{{"<!-- Fixed Navigation -->" | safeHTML}}
<header class="navigation fixed-top">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
				{{ if .Site.Params.logo }}
				<img class="lozad" data-src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" height="40">
				{{ else }}
				{{ .Site.Title }}
				{{ end }}
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					{{ range .Site.Menus.main }}
					<li class="nav-item">
						<a class="nav-link hover-underline" href="{{ .URL | relLangURL }}">
							{{ .Name }}
						</a>
					</li>
					{{ end }}
					<li class="nav-item">
						<a href="#contact" class="nav-link btn btn-primary-outline">Get Started</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
